HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/archetype-resources/**
!**/src/test/resources/archetype-resources/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/resources/archetype-resources/**
!**/src/test/resources/archetype-resources/**

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Operating System Files ###
*.DS_Store
Thumbs.db
desktop.ini

### Logs ###
*.log

### Secrets ###
.env
*.jks
*.keystore
application-local.properties
